body {font-family: arial; font-size: 13px; color: #222; line-height: 1.4em; background: #ededed;}

.clearMe {display: block; height: 0; clear: both; font-size: 0;}
.clear:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clear {display: inline-block;}
/* hide IE mac \*/
* html .clear {height: 1%;}
.clear {display: block;}
/* */

a {color: #5398d1; text-decoration: none;}
a:hover {text-decoration: underline;}

.success {color: #5a3;}
.error {color: #c22;}

h1 {margin: 0 0 12px 0; padding: 0; font-family: arial; font-size: 20px; font-weight: normal; color: #444;}
p {padding: 0 0 12px 0;}
em {font-style: italic;}
img.load {visibility: hidden;}
form input[type=password],
form input[type=text] {display: block; width: 95%; margin: 0 0 6px 0; padding: 6px 2%; font-size: 14px;}
form input[type=submit] {float: right; margin: 0 0 0 0;}
form .split input {float: right; width: 43% !important;}
form .split input:first-child {float: left; width: 43% !important;}
span.note {display: block; float: right; max-width: 75%; color: #e55;}
