body {margin: 0; padding: 0; font-size: 12px; font-family: arial; background: #fff;}
body > ul.app-menu {position: relative; width: 180px; list-style: none; background: none;}
body > ul.app-menu li a {display: block; padding: 7px 0 7px 32px; color: #000; text-decoration: none;}
body > ul.app-menu li a img {position: absolute; left: 7px; margin-top: -3px;}
body > ul.app-menu li a:hover {color: #fff; background: #5398d1;}
body > ul.app-menu li.div {height: 0; padding: 3px 0 0 0; margin: 0 0 3px 0; border-bottom: 1px solid #e9e9e9;}
